
*.pyc

other/valid_encoded/
other/valid_ori/
other/test_img/
other/test_array/
other/test_img/

log/*
summary/*
params/*
params_for_test/*
timeline/*
data_info/*
recons_data/*
encoded_data/*

!log/.gitkeep
!summary/.gitkeep
!params/.gitkeep
!params_for_test/.gitkeep
!timeline/.gitkeep
!data_info/.gitkeep
!recons_data/.gitkeep
!encoded_data/.gitkeep
