
*.pyc

other/valid_encoded/
other/valid_ori/
other/test_img/

log/*
summary/*
params/*
timeline/*
data_info/*

!log/.gitkeep
!summary/.gitkeep
!params/.gitkeep
!timeline/.gitkeep
!data_info/.gitkeep
